:root {
    --themecolor: #0a233b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: 2px;
    color: color-mix(in srgb, var(--themecolor), transparent 35%);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================ HEADER ============  */
.header .hDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .hDiv .nav ul {
    display: flex;
    align-items: center;
}

.header .hDiv .nav ul li {
    margin: 10px;
    padding: 8px;
}

.btnDiv>button {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.btnDiv>button .linha {
    width: 35px;
    height: 5px;
    background-color: #ccc;
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: .3s;
}

.btnDiv>button.ativar .linha:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: #ff0054;
}

.btnDiv>button.ativar .linha:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
    background-color: #ff0054;
}

.btnDiv>button.ativar .linha:nth-child(2) {
    width: 0;
}

.btnDiv>button.ativar {
    border: 1px solid #ff0054;
}

/* 
------------------------------------------------------------------
============== ANIMACAO DE "DIGITANDO O TEXTO" ====================
------------------------------------------------------------------ */
.section-txt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

.section-txt .txt-animado {
    font-size: 45px;
    font-weight: 300;
}

.txt-animado span {
    position: relative;
}

.txt-animado span::before {
    content: '';
    color: color-mix(in srgb, var(--themecolor), transparent 20%);
    animation: palavras 20s infinite;
}

.txt-animado span::after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 2px solid #fff;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: #fff;
}

@keyframes cursor {
    0% {
        border-left: 2px solid var(--themecolor);
    }
}

@keyframes digita {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 15px);

    }
}

@keyframes palavras {

    0%,
    20% {
        content: 'Sou o Luis Gomes?';
    }

    21%,
    40% {
        content: 'Ja se inscreveu?';
    }

    41%,
    60% {
        content: 'Ja fizeste parte do Alda News?';
    }

    61%,
    80% {
        content: 'Este e o meu portfolio';
    }

    81%,
    100% {
        content: 'Vamos la entao';
    }
}

/* 
---------------------------------------------------------------
=================== MINHAS HABILIDADES =======================
--------------------------------------------------------------- */
.habilidades {
    background-color: #c2c2c2;
}

.skills {
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: #c2c2c2;
    box-shadow: 0 15px 20px #00000027, 0 -5px 5px #00000027;
}

.skills ul {
    list-style: none;
}

.skills ul li {
    margin: 20px 0;
}

.skills .barras {
    background-color: #ccc;
    display: block;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.barras>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.html {
    width: 90%;
    animation: html 3s ease-in-out;
}

.css {
    width: 70%;
    animation: css 3s ease-in-out;

}

.javascript {
    width: 40%;
    animation: javascript 3s ease-in-out;

}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}